zoo-maven/src/main/resources/xml/enclosure.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="enclosure">
        <xs:complexType>
            <xs:sequence>
                <xs:element type="xs:string" name="type"/>
                <xs:element type="xs:byte" name="capacity"/>
            </xs:sequence>
            <xs:attribute type="xs:byte" name="id"/>
        </xs:complexType>
    </xs:element>
</xs:schema>