zoo-maven/src/main/resources/xml/visitor.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">

    <xs:complexType name="visitorType">
        <xs:all>
            <xs:element name="firstName" type="xs:string"/>
            <xs:element name="lastName" type="xs:string"/>
        </xs:all>
        <xs:attribute name="id" type="xs:long"/>
    </xs:complexType>

    <xs:complexType name="visitorsType">
        <xs:sequence>
            <xs:element name="visitor" type="visitorType" minOccurs="0" maxOccurs="unbounded"/>
        </xs:sequence>
    </xs:complexType>

    <xs:element name="visitors" type="visitorsType"/>

</xs:schema>